extends layout 
 
block content 
  if (!user) 
    a(href="/login") Login 
    br 
    a(href="/register") Register 
    br 
    a(href="/pen/update") Update 
  if (user) 
    p You are currently logged in as #{user.username} 
    a(href="/pen") Take me to Pen app
    br 
    a(href="/logout") Logout 