extends layout 
 
block content 
  h1= title 
 
  form(id='PenForm', action="/resource/pens", method="POST") 
    div.form-group 
        label.penAttr(for='pen_type') Pen type 
        input#pen_type(type='text', name='pen_type') 
    div.form-group 
        label.penAttr(for='size') Pen size 
        input#size(type='text', name='size') 
    div.form-group 
        label.penAttr(for='cost') Pen cost 
        input#cost(type='number', name='cost',min="0.1",max="14.55") 
    input(type="submit") 
 
  script. 
    document.forms['PenForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 